.nav{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5%;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav img{
    width: 100px;
    height: 55px;
    cursor: pointer;
    margin-left: 25px;
}

.nav-link{
    width: 30%;
    margin-right: 10%;
    display: flex;
    padding-left: auto;
    padding-right: auto;
}

.nav-link a{
    text-decoration: none;
    color: black;
    bottom: 0;
    margin: auto;
    min-width: 5rem;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 

.menu-button{
    display: none;
}

.title{
  padding: 0;
  margin-bottom: 5%;
}

.title b{
  font-size: 4rem;
}

.subtitle{
  color: lightgray;
  opacity: .8;
  font-size: 3rem;
  margin-bottom: 2.5%;
}

.disclaimer{
  color: lightgray;
  opacity: .8;
  font-size: 1rem;
  margin-bottom: 1.2%;
}

.product-info{
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
}

.price{
  margin-top: 4%;
  margin-bottom: 4%;
}

.product-info-side-bar{
  width: 10px;
  margin-right: 5rem;
  background: linear-gradient(#e66465, #9198e5);

}

.buy-now-btn{
  background: linear-gradient(45deg, red, blue);
  border-style: none;
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: larger;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
 
  .menu-button{
        width: unset;
        height: unset;
        display: inherit;
        cursor: pointer;
    }

    .nav-link{
      display: none;
    }

    .product-info{
      margin-top: 10%;
      margin-left: 0%;
    }

    .product-info-side-bar{
      display: none;
    
    }
    
}
